{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app.products') }}">Back to the list</a>
    <div>
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <span>{{ product.price }}</span>
        <form action="{{ path('app.order.create', { slug: product.slug }) }}" method="POST">
            <button>Buy</button>
        </form>
    </div>
{% endblock %}
