{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Order {{ order.id }} details</h1>
        <p>Order {{ order.id }} was created successfully for product with title "{{ order.product.name }}"</p>
        <span>Status: {{ order.status.value }}</span>
        {% if order.status.value === 'fulfilled' %}
            <div>
                <h3>Fulfilled at:</h3>
                <div>
                    <span>date: <time data-testid="fulfilled-date">{{ order.orderFulfillment.createdAt|date("Y-m-d") }}</time></span><br />
                    <span>time: <time data-testid="fulfilled-time">{{ order.orderFulfillment.createdAt|date("H:i:s") }}</time></span>
                </div>
            </div>
        {% endif %}
        {% if order.status.value === 'pending' %}
            <form action="{{ path('app.order.pay', { id: order.id }) }}" method="POST">
                <input type="hidden" name="token" value="{{ csrf_token('pay-order-' ~ order.id) }}">
                <button>Mark as paid</button>
            </form>
        {% elseif order.status.value === 'paid' %}
            <form action="{{ path('app.order.fulfill', { id: order.id }) }}" method="POST">
                <input type="hidden" name="token" value="{{ csrf_token('fulfill-order-' ~ order.id) }}">
                <button>Fulfill</button>
            </form>
            <form action="{{ path('app.order.refund', { id: order.id }) }}" method="POST">
                <input type="hidden" name="token" value="{{ csrf_token('refund-order-' ~ order.id) }}">
                <button>Refund</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
