{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Order {{ order.id }} details</h1>
        <p>Order {{ order.id }} was created successfully for product with title "{{ order.product.name }}"</p>
        <span>Status: {{ order.status.value }}</span>
        <form action="{{ path('app.order.pay', { id: order.id }) }}" method="POST">
            <button>Mark as paid</button>
        </form>
    </div>
{% endblock %}
